{# templates/profile/bornes.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% block title %}History{% endblock %}
{% endblock %}

{% block body %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if rights >= 0 %}
        <li class="nav-item">
          <a class="nav-link" href="/profil">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active_menu" href="/profil/historique">Historique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bornes">Bornes</a>
        </li>
        {% endif %}
        {% if rights >= 1 %}
        <li class="nav-item">
          <a class="nav-link" href="/voitures">Voitures</a>
        </li>
        {% endif %}
        {% if rights >= 2 %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administration</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
<br/><br/><br/>

<h1>Historique</h1>
<div class = "borne">
<h2>Réservations de bornes</h2>
<h3>A venir</h3>
<hr>
{% for resa in resa_borne_futur %}
  <ul class="list-group-item">
    <p>Début: {{resa.start_date|date('Y-m-d H:i:s')}}<br/>
    Fin: {{resa.end_date|date('H:i:s')}}<br/>
    Charge estimée en arrivant: {{resa.charge}}<br/>
    Lieu: {{resa.place}}<br/>
    <a href="{{ path('delete_resa_borne', {'id_resa': resa.id_resa}) }}"><button type="button" class="btn btn-danger">Annuler</button></a></p>
  </ul>
  <hr>
{% endfor %}
<h3>Historique</h3>
<hr>
{% for resa in resa_borne_past %}
  <ul class="list-group-item">
    <p>Début: {{resa.start_date|date('Y-m-d H:i:s')}}<br/>
    Fin: {{resa.end_date|date('H:i:s')}}<br/>
    Charge estimée en arrivant: {{resa.charge}}<br/>
    Lieu: {{resa.place}}</p>
  </ul>
  <hr>
{% endfor %}
</div>
<div class="cars">
<h2>Réservations de véhicules</h2>
<h3>A venir</h3>
<hr>
{% for resa in resa_car_futur %}
  <ul class="list-group-item">
    <p>Début: {{resa.date_start|date('Y-m-d')}}  {{resa.start_time|date('H:i:s')}}<br/>
    Fin: {{resa.date_end|date('Y-m-d')}}  {{resa.end_time|date('H:i:s')}}<br/>
    Kilométrage prévu: {{resa.km_planned}} kms<br/>
    {% if resa.km_start_done %}
      Kilométrage au départ: {{resa.km_start}} kms
    {% else %}
      {{ form_start(resa.km_start_form, {'attr': {'novalidate': 'novalidate'}}) }}
      {{ form_row(resa.km_start_form.km) }} {{ form_row(resa.km_start_form.confirm) }}
      {{ form_end(resa.km_start_form) }}
    {% endif %}
    <br/>
    {% if resa.km_end_done %}
      Kilométrage au retour: {{resa.km_end}} kms
    {% else %}
      {{ form_start(resa.km_end_form, {'attr': {'novalidate': 'novalidate'}}) }}
      {{ form_row(resa.km_end_form.km) }} {{ form_row(resa.km_end_form.confirm) }}
      {{ form_end(resa.km_end_form) }}
    {% endif %}
    <br/>
    Etablissement: {{resa.facility}}<br/>
    Raison: {{resa.id_reason}}<br/>
    Voiture: {{resa.id_company_car}}<br/>
    Etat des lieux:
      {% if resa.state.done %}
      <ul>
        <li>Avant: {{resa.state.front}}</li>
        <li>Arrière: {{resa.state.back}}</li>
        <li>Droite: {{resa.state.right_side}}</li>
        <li>Gauche: {{resa.state.left_side}}</li>
        <li>Intérieur: {{resa.state.inside}}</li>
        <li>Commentaire: {{resa.state.commentary}}</li>
      </ul>
      {% else %}
      {{ form_start(resa.state.form, {'attr': {'novalidate': 'novalidate'}}) }}
      {{ form_widget(resa.state.form) }}
      {{ form_end(resa.state.form) }}
      {% endif %}
    <br/>
    <a href="{{ path('delete_resa_car', {'id_resa': resa.id_resa}) }}"><button type="button" class="btn btn-danger">Annuler</button></a></p>
  </ul>
  <hr>
{% endfor %}
<h3>Historique</h3>
<hr>
{% for resa in resa_car_past %}
<ul class="list-group-item">
  <p>Début: {{resa.date_start|date('Y-m-d')}}  {{resa.start_time|date('H:i:s')}}<br/>
  Fin: {{resa.date_end|date('Y-m-d')}}  {{resa.end_time|date('H:i:s')}}<br/>
  Kilométrage prévu: {{resa.km_planned}} kms<br/>
  Heure de départ: {{resa.end_time}}<br/>
  Etablissement: {{resa.facility}}<br/>
  Raison: {{resa.id_reason}}<br/>
  Voiture: {{resa.id_company_car}}<br/>
  Etat des lieux:
    {% if resa.state.done %}
    <ul>
      <li>Avant: {{resa.state.front}}</li>
      <li>Arrière: {{resa.state.back}}</li>
      <li>Droite: {{resa.state.right_side}}</li>
      <li>Gauche: {{resa.state.left_side}}</li>
      <li>Intérieur: {{resa.state.inside}}</li>
      <li>Commentaire: {{resa.state.commentary}}</li>
    </ul>
    {% else %}
    <p>Il est trop tard pour réaliser l'état des lieux</p>
    {% endif %}
</ul>
</div>
{% endfor %}
{% endblock %}
