{#
 href="{{ path('app_form_ReservationVoitureFonction_numberOfReservation',{slug:slug}) }}"
 templates/forms/inscription.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</header>
<br/>
<br/>
{% if state == "Subscribe" %}
  <h1>Inscription</h1>
  <h2>{{error}}</h2>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
  {{ form_row(form.last_name) }}
  {{ form_row(form.first_name) }}
  {{ form_row(form.email) }}
  {{ form_row(form.password) }}
  {{ form_row(form.password_confirmation) }}
  {{ form_row(form.id_status) }}
  <div id="referent_email_label">
  {{ form_label(form.referent_email) }}
  </div>
  {{ form_widget(form.referent_email) }}
  {{ form_row(form.indicative) }}
  {{ form_row(form.phone_number) }}
  {{ form_row(form.subscribe) }}

  {{ form_end(form) }}

{% else %}
  <h2>Inscription réussie !</h2>
  <p>Un email contenant un lien de validation a été envoyé a l'adresse {{email}}</p>
  {% if visiting %}
    <p>Votre contact doit valider votre compte pour que vous puissiez commencer a l'utiliser</p>
  {% else %}
    <p>Vous devez valider votre compte avant de pouvoir vous connecter</p>
  {% endif %}
{% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if state == "Subscribe" %}
  <script>
  document.getElementById('form_referent_email').style.display = "none";
  document.getElementById('referent_email_label').style.display = "none";
  document.getElementById('form_id_status').onchange = function() {
  var newvalue = this.value;
  console.log(newvalue);

  if(newvalue == "Visiteur") {
  document.getElementById('form_referent_email').style.display = "block";
  document.getElementById('referent_email_label').style.display = "block";
  } else {
  document.getElementById('form_referent_email').style.display = "none";
  document.getElementById('referent_email_label').style.display = "none";
  }
  };
  </script>
  {% endif %}
{% endblock %}
