{# templates/admin/admin_cars.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% block title %}Administration des voitures{% endblock %}
{% endblock %}

{% block body %}
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% if rights >= 0 %}
      <li class="nav-item">
        <a class="nav-link" href="/profil"><i class="fas fa-user"></i> Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bornes"><i class="fas fa-plug"></i> Bornes</a>
      </li>
      {% endif %}
      {% if rights >= 1 %}
      <li class="nav-item">
        <a class="nav-link" href="/voitures"><i class="fas fa-car"></i> Voitures</a>
      </li>
      {% endif %}
      {% if rights >= 2 %}
      <li class="nav-item">
        <a class="nav-link active" href="/admin"><i class="fas fa-shield-alt"></i> Administration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/bornes">Admin - Bornes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active_menu" href="/admin/voitures">Admin - Voitures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/profils">Admin - Profils</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
</header>
<br/><br/><br/>
<h1>Administration des voitures</h1>
<h2>Ajouter une réservation</h2>
{{ form_start(car_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(car_form) }}
{{ form_end(car_form) }}

<br/>
<h2>Réservations de voitures ({{actual_min}}-{{actual_max}}/{{total}})</h2>
{{ form_start(limit_form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
{{ form_widget(limit_form['new_limit']) }} {{ form_widget(limit_form['subscribe_change']) }}
{{ form_end(limit_form) }}

{{ form_start(go_to_form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
{{ form_widget(go_to_form['number']) }} {{ form_widget(go_to_form['subscribe_go_to']) }}
{{ form_end(go_to_form) }}

<a href="{{ path('change_offset_car_admin', {'way': 0}) }}"><button class= "btn btn-outline-info">Revenir au début</button></a>
<a href="{{ path('change_offset_car_admin', {'way': -1}) }}"><button class= "btn btn-outline-info">{{limit}} précédent{% if limit != 1%}s{% endif %}</button></a>
<a href="{{ path('change_offset_car_admin', {'way': 1}) }}"><button class= "btn btn-outline-info">{{limit}} suivant{% if limit != 1%}s{% endif %}</button></a>
<a href="{{ path('extract_car_admin', {'data': resa_car_extractable|json_encode()}) }}"><button class= "btn btn-outline-info">Extraire les données</button></a>
{% for resa in resa_car %}
<hr>
<ul class="list-group-item">
  <p>Utilisateur: {{resa.id_user}}</li>
  Début: {{resa.date_start}}  {{resa.start_time}}<br/>
  Fin: {{resa.date_end}}  {{resa.end_time}}<br/>
  Kilométrage prévu: {{resa.km_planned}} kms<br/>
    {% if resa.km_start_done %}
    Kilométrage au départ: {{resa.km_start}} kms
    {% else %}
    {{ form_start(resa.km_start_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(resa.km_start_form.km) }} {{ form_row(resa.km_start_form.confirm) }}
    {{ form_end(resa.km_start_form) }}
    {% endif %}
  <br/>
    {% if resa.km_end_done %}
    Kilométrage au retour: {{resa.km_end}} kms
    {% else %}
    {{ form_start(resa.km_end_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(resa.km_end_form.km) }} {{ form_row(resa.km_end_form.confirm) }}
    {{ form_end(resa.km_end_form) }}
    {% endif %}
  <br/>
  <li>Etablissement: {{resa.facility}}<br/>
  <li>Raison: {{resa.id_reason}}<br/>
  <li>Voiture: {{resa.id_company_car}}<br/>
  <li>Etat des lieux:
    {% if resa.state.done %}
    <ul>
      <li>Avant: {{resa.state.front}}</li>
      <li>Arrière: {{resa.state.back}}</li>
      <li>Droite: {{resa.state.right_side}}</li>
      <li>Gauche: {{resa.state.left_side}}</li>
      <li>Intérieur: {{resa.state.inside}}</li>
      <li>Commentaire: {{resa.state.commentary}}</li>
    </ul>
    {% else %}
    {{ form_start(resa.state.form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(resa.state.form) }}
    {{ form_end(resa.state.form) }}
    {% endif %}
  <br/>
  <li><a href="{{ path('delete_resa_car_admin', {'id_resa': resa.id_resa}) }}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button></a>
</ul>
{% endfor %}
{% endblock %}
