{# templates/admin/admin_bornes.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% block title %}Administration des bornes{% endblock %}
{% endblock %}

{% block body %}
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% if rights >= 0 %}
      <li class="nav-item">
        <a class="nav-link" href="/profil"><i class="fas fa-user"></i> Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bornes"><i class="fas fa-plug"></i> Bornes</a>
      </li>
      {% endif %}
      {% if rights >= 1 %}
      <li class="nav-item">
        <a class="nav-link" href="/voitures"><i class="fas fa-car"></i> Voitures</a>
      </li>
      {% endif %}
      {% if rights >= 2 %}
      <li class="nav-item">
        <a class="nav-link" href="/admin"><i class="fas fa-shield-alt"></i> Administration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/bornes">Admin - Bornes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/voitures">Admin - Voitures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/profils">Admin - Profils</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
</header>

<br/><br/><br/>
<h1>Administration des bornes</h1>
<h2>Ajouter une réservation</h2>
{{ form_start(resa_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(resa_form) }}
{{ form_end(resa_form) }}

<br/>
<h2>Réservations de bornes ({{actual_min}}-{{actual_max}}/{{total}})</h2>
{{ form_start(limit_form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
{{ form_widget(limit_form['new_limit']) }} {{ form_widget(limit_form['subscribe_change']) }}
{{ form_end(limit_form) }}

{{ form_start(go_to_form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
{{ form_widget(go_to_form['number']) }} {{ form_widget(go_to_form['subscribe_go_to']) }}
{{ form_end(go_to_form) }}

<a href="{{ path('change_offset_borne_admin', {'way': 0}) }}"><button class= "btn btn-outline-info">Revenir au début</button></a>
<a href="{{ path('change_offset_borne_admin', {'way': -1}) }}"><button class= "btn btn-outline-info">{{limit}} précédent{% if limit != 1%}s{% endif %}</button></a>
<a href="{{ path('change_offset_borne_admin', {'way': 1}) }}"><button class= "btn btn-outline-info">{{limit}} suivant{% if limit != 1%}s{% endif %}</button></a>
<a href="/admin/bornes/extract"><button class= "btn btn-outline-secondary">Extraire les données</button ></a>
{% for resa in resa_bornes %}
<hr>
<ul class="list-group-item">
  <p>Début: {{resa.start_date|date('Y-m-d H:i:s')}}<br/>
  Fin: {{resa.end_date|date('H:i:s')}}<br/>
  Charge estimée en arrivant: {{resa.charge}}<br/>
  Lieu: {{resa.id_place}}<br/>
  Utilisateur: {{resa.id_user}}<br/>
  <a href="{{ path('delete_resa_borne_admin', {'id_resa': resa.id_resa}) }}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button></a></p>
</ul>
{% endfor %}
{% endblock %}
