{# templates/admin/admin.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<br/>
<a href='/admin'>Général</a>
<a href='/admin/bornes'>Bornes</a>
<a href='/admin/voitures'>Voitures</a>
<a href='/admin/profils'>Profils</a>
<h1>Administration</h1>
<h2>Etablissements</h2>
{% for facility in facilities %}
<ul>
  <li>Nom: {{facility.name}}</li>
  <li>Adresse: {{facility.address}}</li>
  <li>Informations supplémentaires: {{facility.complementary}}</li>
  {% if rights == 3 %}
    <a href="{{ path('delete_facility', {'name': facility.name}) }}"><button>Supprimer</button></a>
  {% endif %}
</ul>
{% endfor %}
{% if rights == 3 %}
  {{ form_start(facility_form, {'attr': {'novalidate': 'novalidate'}}) }}
  {{ form_widget(facility_form) }}
  {{ form_end(facility_form) }}
{% endif %}
<br/>

<h2>Lieux</h2>
{% for place in places %}
<ul>
  <li>Nom: {{place.name}}</li>
  <li>Adresse: {{place.address}}</li>
  <li>Etablissement affilié: {{place.facility}}</li>
  <a href="{{ path('delete_place', {'id_place': place.id_place}) }}"><button>Supprimer</button></a>
</ul>
{% endfor %}
{{ form_start(place_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(place_form) }}
{{ form_end(place_form) }}
<br/>

<h2>Voitures</h2>
{% for car in cars %}
<ul>
  <li>Etablissement: {{car.facility}}</li>
  <li>Nom: {{car.name}}</li>
  <li>Modèle: {{car.model}}</li>
  <li>Puissance (kW): {{car.power}}</li>
  <a href="{{ path('delete_company_car', {'id_company_car': car.id_company_car}) }}"><button>Supprimer</button></a>
</ul>
{% endfor %}
{{ form_start(car_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(car_form) }}
{{ form_end(car_form) }}
<br/>

<h2>Bornes</h2>
{% for borne in bornes %}
<ul>
  <li>Lieu: {{borne.place}}</li>
  <li>Emplacement: {{borne.desc_place}}</li>
  <li>Nom: {{borne.name}}</li>
  <a href="{{ path('delete_borne', {'id_borne': borne.id_borne}) }}"><button>Supprimer</button></a>
</ul>
{% endfor %}
{{ form_start(borne_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(borne_form) }}
{{ form_end(borne_form) }}
<br/>
{% endblock %}
