{# templates/admin/admin_profiles.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<br/>
<a href='/admin'>Général</a>
<a href='/admin/bornes'>Bornes</a>
<a href='/admin/voitures'>Voitures</a>
<a href='/admin/profils'>Profils</a>
<h1>Administration des profils</h1>
{% for profile in profiles %}
  <ul>
    <li>{{profile.first_name}} {{profile.last_name}} ({{profile.id_user}}) </li>
    <li>{{profile.email}}</li>
    <li>{{profile.id_status}} <button>Passer en administrateur</button></li>
    <li>{{profile.indicative}} {{profile.phone_number}}</li>
    <li>{% if profile.activated %}Activé {% else %} Non - activé {% endif %}</li>
    <a href="{{ path('delete_user_admin', {'id_user': profile.id_user}) }}"><button>Supprimer cet utilisateur</button></a>
  </ul>
{% endfor %}
{% endblock %}
