{# templates/passwordforget.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<h1>Mot de passe oublié</h1>
{% if state == "Subscribe" %}
  <h2>{{error}}</h2>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
  {{ form_row(form.email) }}
  {{ form_row(form.subscribe) }}
  {{ form_end(form) }}
{% else %}
  <h2>Mail envoyé!</h2>
  <p>Un e-mail contenant un lien pour changer de mot de passe a été envoyé à {{email}}</p>
{% endif %}
{% endblock %}
