{# templates/passwordforget.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</header>
<br/>
<br/>
<h1>Mot de passe oublié</h1>
{% if state == "Subscribe" %}
  <h2>{{error}}</h2>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
  {{ form_row(form.email) }}
  {{ form_row(form.subscribe) }}
  {{ form_end(form) }}
{% elseif state == "Validation" %}
  <h2>Mail envoyé!</h2>
  <p>Un e-mail contenant un lien pour changer de mot de passe a été envoyé à {{email}}</p>
{% elseif state == "Resend" %}
    <p>Ce lien a expiré. Vous pouvez en renvoyer un autre en cliquant <a href="{{ path('new_password_recovery', {'token': token}) }}">ici</a></p>
{% elseif state == "Subscribe2" %}
  <h2>{{error}}</h2>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
  {{ form_row(form.new_password) }}
  {{ form_row(form.new_password_confirmation) }}
  {{ form_row(form.subscribe) }}
  {{ form_end(form) }}
{% else %}
  <h2>Votre mot de passe a été modifié !</h2>
{% endif %}
{% endblock %}
