{# templates/passwordforget.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
{% if state == "Subscribe" %}
  <h1>password</h1>
  <h2>{{error}}</h2>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
  {{ form_row(form.email) }}
  {{ form_row(form.subscribe) }}
  {{ form_end(form) }}

{% else %}
  <h2>Mail envoyé!</h2>
  <p>Un email contenant un lien dpour changer de mdp a été envoyé a {{email}}</p>


{% endif %}
{% endblock %}
