{# templates/reservations/cars.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% block title %}Voitures{% endblock %}
{% endblock %}

{% block javascripts %}
<script src="modernizr.js"></script>
  <!-- Webforms2 -->
  <script src="webforms2/webforms2-p.js"></script>
  <!-- jQuery  -->
  <script src="js/jquery-1.4.3.min.js"></script>
  <script src="js/jquery-ui-1.8.5.min.js"></script>
  <!-- Feuille de style -->
  <link rel="stylesheet" href="styleFormulaire.css">
  <!-- jQuery Numeric Spinner -->
  <script src="spinner.js"></script>

  <!-- jQuery Placehol
    <script src="jquery.placehold-0.2.min.js"></script>  -->

  <!-- Demo page layout
  <link rel="stylesheet" href="html5forms.layout.css">  -->
  <script src="html5forms.js"></script>
  <script src="html5forms.fallback.js"></script>
  {% endblock %}

{% block body %}
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% if rights >= 0 %}
      <li class="nav-item">
        <a class="nav-link" href="/profil"><i class="fas fa-user"></i> Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bornes"><i class="fas fa-plug"></i> Bornes</a>
      </li>
      {% endif %}
      {% if rights >= 1 %}
      <li class="nav-item">
        <a class="nav-link active_menu" href="/voitures"><i class="fas fa-car"></i> Voitures</a>
      </li>
      {% endif %}
      {% if rights >= 2 %}
      <li class="nav-item">
        <a class="nav-link" href="/admin"><i class="fas fa-shield-alt"></i> Administration</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
</header>
<br/><br/><br/>
<h1>Réserver un véhicule</h1>
{% if success %}
<p>{{error_booking}}</p>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<br/>
<h2><i class="fas fa-calendar-alt"></i> Consulter le planning</h2>
{{ form_start(planning_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(planning_form) }}
{{ form_end(planning_form) }}
{% for day_planning in planning %}
<ul>
  <li>{{day_planning.day}}
    {% for creneau in day_planning.plan %}
    <ul>
      <li>{{creneau.begin}}</li>
      <li>{{creneau.dispo}}</li>
      <li>{{creneau.end}}</li>
    </ul>
    {% endfor %}
  </li>
</ul>
{% endfor %}
{% else %}
  <p>{{error}}</p>
{% endif %}
{% endblock %}
